/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #3498db;
    color: white;
    padding: 20px;
}

form {
    margin: 20px;
}

input[type="file"] {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    margin: 20px;
}

img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
