<!DOCTYPE html>
<html>
<head>
    <title>Monet Art Generator Web App</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Monet Art Generator Web App</h1>
    <form action="/process" method="post" enctype="multipart/form-data">
        <input type="file" name="input_image" accept="image/*" required>
        <button type="submit">Generate Art</button>
    </form>
    <div class="image-container">
        <div class="image">
            <h2>Input Image</h2>
            {% if input_image_path %}
            <img src="{{ url_for('static', filename=input_image_path) }}" alt="Input Art" style="max-width: 100%;">
            {% endif %}
        </div>
        <div class="image">
            <h2>Output Art</h2>
            {% if output_image_path %}
            <img src="{{ url_for('static', filename=output_image_path) }}" alt="Generated Art" style="max-width: 100%;">
            
            <a href="{{ url_for('download', filename=output_img_filename) }}" download="generated_art.jpg">
                <button>Download Art</button>
            </a>
            
            {% endif %}
        </div>
    </div>
</body>
</html>
